version: "2"
services:
  logstash_1:
    image: rock/logstash:latest
    container_name: logstash_1
    restart: always
    network_mode: host
    #ports:
    #- 5044:5044
    volumes:
    - /etc/logstash/conf.d:/usr/share/logstash/pipeline/:ro
    - /var/log/logstash:/usr/share/logstash/data/
    environment:
    - path.config=/usr/share/logstash/pipeline
    - path.logs=/var/log/logstash
    - path.data=/usr/share/logstash/data
    - "ES_JAVA_OPTS=-Xms1G -Xmx1G -XX:-AssumeMP"

